---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
const text = blok?.text || '';
---

<li class="candidate-checklist-item text-body-sm" {...storyblokEditable(blok)}>
  {text}
</li>