---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const bodyHtml = blok.body ? renderRichText(blok.body) : '';
---
{bodyHtml && (
  <div
    class="beware-tactic-list-item text-brand-on-dark"
    {...storyblokEditable(blok)}
    set:html={bodyHtml}
  ></div>
)}